* {
    box-sizing:border-box;
    margin: 0;
    /*padding: 0; */
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  /* border-radius: 0 3px 3px 0; */
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  /* border-radius: 3px 0 0 3px; */
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    border-radius:  30px;
  background-color: #81939c;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #81939c;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  z-index: 3;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.card-wrapper {
    width: 25rem;
    height: 200px;
  }

  .card-body {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2),0 5px 15px rgba(0,0,0,0.19);
    border-radius: 10px;
  }

  .card-front, .card-back {
    background-color: #ffffff;
      position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 10px;
  }

  .card-front p, .card-back p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: large;
    margin: 0;
  }
  .card-back {
    transform: rotateX(180deg);
  }
  .card-wrapper:hover .card-body {
    transform: rotateX(180deg);
  }

  .card-wrapper {
    width: 500px;
    height: 300px;
  }

  .mySlides {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }

  .slideshow-container{
    margin-top: 100px;
  }

  header {
    background-color: #d9b54a;
    opacity: 0.8;
    width: 100%;
    top: 0;
    position: fixed;
    font-size: 50px;
    text-align: center;
    padding: 10px;
    color: white;
  }

  .p1 .p2 {
    display: flex;
    flex-direction: row;
  }

  .p4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #81939c;
    border-radius: 10px;
  }

  table {
    border-radius: 10px;
    width: 100%;
    background-color: white;
    border: 2px solid #dddddd;
  }

  th {
    text-align: left;
    padding: 8px;
  }

  .froth {
    width: 30%;
    border-right: 2px solid #dddddd;
  }

  .bbq{
    padding-left: 1%;
  }

  .createy {
    background-color:  #81939c;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    border-style: none;
    cursor: pointer;
    border: none;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
  }

  .createy:hover {
    background-color: white;
    color:#81939c; 
  }

  .specialz {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }