
body{background-color:#F9DEC4;}
h2{
    
    text-align: center;
    background-color:#E5B8AD;
    width:250px;
    border-radius:120px;
    font-family: 'Segoe UI';

}
img{
    width:100px;
    border-radius:10px;
    float:left;
    margin-right:10px;

}
.logo{
    width: 50px;
    background-color:whitesmoke;
    float:left;
    margin-right:20px;
    margin-left:10px;
    border: 5px solid whitesmoke;
}

.scrollable {
    height: 100px; /* or any value */
    overflow-y: auto;
}

.SideButtons{
    text-align: center;
    background-color:whitesmoke;
    border-radius:10px;
    font-family: 'Segoe UI';
    margin-right:3px;
    padding:15px;
    text-decoration: none;
}


   
